@model IEnumerable<RevisoChalangeApp.Models.Workinghour>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table ModifyLink">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activeproject.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Activeproject.PName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<script>
    $($('.ModifyLink')).load(function (event) {
        event.stopImmediatePropagation();
    });
</script>